<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robotarm1">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import robotarm1 urdf file -->
    <xacro:include filename="$(find robotarm_description)/urdf/robotarm.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="robotarm1.ros2_control.xacro" />


    <xacro:robotarm1_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
